* {
    padding: 0;
    margin: 0;
  }
  
  .main-container {
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 25vh;
  }
  
  .input {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 101%;
    background-color: rgb(133 134 148);
    color: #fff;
    height: 50px;
    font-size: 20px;
  }
  
  .input span {
    margin-right: 4px;
  }
  
  .calc-btns {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 50% 50% 50% 50% 50%;
    gap: 1px;
  }
  
  .zero {
    grid-column: span 2;
  }
  
  .peach {
    background-color: rgb(245 145 62);
  }
  
  .calc-btns input {
    border: none;
    cursor: pointer;
  }
  